.git
.gitignore

.Rbuildignore
.Rdata
.httr-oauth
.DS_Store

.Rproj.user
.Rhistory

/*.R

/*.rds
/*.dbf
/*.prj
/*.shp
/*.shx
/*.graph

/*.jar

/*.txt
/*.csv
/*.png

R/deprec-*
R/*module*.R
inst/extdata/sql/sql_server/deprec-*
jdbc/*
data/*.Rdata
